<h4>Students</h4>
<%= link_to "New Student", new_student_path %>
<% @students.each do |student| %>
    <div>
    <%=link_to student.first_name + ' ' + student.last_name, student_path(student.id) %>
    </div>
    <% end %>