

<div class="inst">
<div class="inst-title">Student</div>
<div class="name">Name: <%= @student.first_name + " " + @student.last_name %></div>
<div class="cohort">Cohort: <%= @student.cohort.name %></div>
<div class="inst-email"><%= @student.email %></div>
</div>