<h4>Instructors</h4>
<%= link_to "New Instructor", new_instructor_path %>
<% @instructors.each do |instructor| %>
    <div class="wrapper">
    <%=link_to instructor.first_name + ' ' + instructor.last_name, instructor_path(instructor.id) %>
    <%=link_to "Edit", edit_instructor_path(instructor) %>
    <%= link_to 'Delete', instructor, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, :class => 'delete_instructor' %> 

    </div>
    <% end %>