<h1>Admin List</h1>
<%=link_to "New User", new_user_path %>

<% @users.each do |user| %>
    <div class="card-header">
    <%=link_to user.first_name + ' ' + user.last_name, user_path(user.id) %>
    </div>
    <% end %>

    