

<div class="card">
<h1>Courses</h1>
<% @cohort.courses.each do |course| %>
 
  <h5 class="card-header"> <%= link_to course.name, cohort_course_path(@cohort.id, course.id)  %>
  </h5>
 
  </p>
  
 
  </div>
</div>

<% end %>
<p class="card-header"> <%= link_to "New Course", new_cohort_course_path(@cohort.id) %> 
</div>