// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.button-login {
    margin-left: -.5%;
    margin-top: 3%;
}

.login {
    text-align: center;
}

.card-login {
    margin-left: 33%;
    background-color: #0f3c8a;
    width: 500px;
    opacity: 0.8;
    margin-top: 5%;


}

.card-header {
    color: white;
    font-family: 'Merriweather', serif;
}